li {
  list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding-left: 0 !important;
}

body {
  padding-bottom: 70px;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0D6EFD;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D6EFD;
}

.nav-link a {
  text-decoration: none;
  padding: 0px 5px;
}

.nav-link a:active {
  color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'BakbakOne-Regular';
  src: local('BakbakOne-Regular'), url(./assets/fonts/BakbakOne-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Hind-Regular';
  src: local('Hind-Regular'), url(./assets/fonts/Hind-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Kalam-Regular';
  src: local('Kalam-Regular'), url(./assets/fonts/Kalam-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Modak-Regular';
  src: local('Modak-Regular'), url(./assets/fonts/Modak-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./assets/fonts/Poppins-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Rajdhani-Regular';
  src: local('Rajdhani-Regular'), url(./assets/fonts/Rajdhani-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Teko-Medium';
  src: local('Teko-Medium'), url(./assets/fonts/Teko-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Tillana-Medium';
  src: local('Tillana-Medium'), url(./assets/fonts/Tillana-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'VarelaRound-Regular';
  src: local('VarelaRound-Regular'), url(./assets/fonts/VarelaRound-Regular.ttf) format('opentype');
}

.App {
  font-family: 'Kalam-Regular';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
